<!doctype html>
<title>jackshen</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>{{head}}</h1>
  <div class=metanav>

    
  {% if not session.username %}
       <a href="{{ url_for('login') }}">登录</a>
  {% else %}
    <a href = {{ url_for('announce_lists')}}>公告</a>
    <a href={{url_for('download')}}>各支部成员成绩下载</a>
    <a href="{{url_for('show_departs')}}">支部列表</a>
    
    <a href={{url_for('personal_info',username = session.username)}}>设置</a>

    <a href="{{ url_for('logout') }}">退出</a>
  {% endif %}
  </div>

  {% for message in get_flashed_messages() %}
  
    <div class=flash>
      {{ message }}
    </div>

  {% endfor %}


  {% block body %}


  {% endblock %}


  <div class = footer>
    <p>Copyright &copy 2015Jackshen</p>
  </div>



