{% extends "layout.html" %}
{% block body %}
  {% if session.username %}
  <p class = mytime>对  <b>{{cname}}</b>  的评价</p>
    <form action="{{ url_for('add_comments',cname=cname) }}" method=post class=add-entry>
      <dl>
        <dt><b>Score:</b>
        <dd><input type=text size=10 name=score>0~100之间
          <p class = error>{{error}}</p>
        <dt><b>comment:</b>
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Commit>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for comment in comments %}
    <li class = mytime>{{comment.date}}  By  <b>{{ comment.name }}</b>
    <li class = score>Score:<b>{{comment.score}}</b><br>{{ comment.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No commnet here so far!</em>
  {% endfor %}
  </ul>
{% endblock %}