{% extends "layout.html" %}
{% block body %}
<div class = metanav>
<a href="{{ url_for('branch_profile') }}">简介</a>
<a href="{{url_for('performance')}}">绩效测评</a>  
 </div> 

  <table rules = all>
    <tr class = tr1>
      <th>班级</th>
      <th>姓名</th>
      <th>性别</th>
      <th>所属支部</th>
      <th>政治面貌</th>
      <th>平均民意得分</th>
      <th>评价和历史评价</th>
    </tr>
  {% for communist in lists %}
    <tr class = score>
	<td>{{ communist[0]}}</td>
	<td>{{ communist[1]}}</td>
	<td>{{ communist[2]}}</td>
	<td>{{ communist[3] }}</td>
	<td>{{ communist[4] }}</td>
	<td>{{ communist[5]}}</td>
	<td class = mytd><a href={{url_for('show_comments',cname = communist[1])}}>评价或查看其它评价</a></td>
  {% else %}
  {% endfor %}
  </table>
{% endblock %}